<div class="home angel">
  <div id="angel-devil">
    <div class="logo">
      <img src="/images/icons/A-logo_halo.png">
    </div>
    <div class="decription">Du hast erfolgreich
Deine Seele gewaschen!</div>
  </div>
  <ul id="action_button">
    <li class="facebook">
      <img src="/images/icons/fb-icon.png">
      <button class="facebook">Erzähl Deinen Freunden von Deiner Beichte</button>
    </li>
    <li class="email">
      <img src="/images/icons/email-icon.png">
      <button class="email">Diese App anderen Sündern empfehlen</button>
    </li>
    <li class="angel">
      <img src="/images/icons/devilhorns-icon.png">
      <button class="angel">Immer noch Gewissensbisse? Versuch’s noch einmal</button>
    </li>
  </ul>
</div>