%h1= t('.title')
%ul.list-unstyled.link-list
  - for sin in @sins
    %li{style: "background-image: url(/images/icons/sins/sin_icon-#{sin.name}.png)"}
      %a{href: sin_projects_url(sin)}
        .text
          %h2= sin.display_name
          %p= sin.explanation
