%h1= t('.title')
%ul.list-unstyled.link-list
  - for sin in @sins
    %li{style: "background-image: url(#{sin.icon_url})"}
      %a{href: sin_projects_url(sin)}
        .text
          %h2= sin.name
          %p= sin.explanation