.start_page
  .intro
    %img{src: '/images/A-logo_devilhorns_cream.png'}
    %h1
      = I18n.t('homepage.title')
  %a.btn.btn-danger.btn-really-large{href: sins_url}
    = I18n.t('homepage.button')
    %span.glyphicon.glyphicon-chevron-right