.start_page
  .intro
    %img{src: '/images/A-logo_devilhorns_cream.png'}
    %h1 Wasch dich von deinen Sünden rein.
  = link_to 'Zur Absolution', sins_url, class: ["btn", "btn-danger","btn-really-large"]
