.project-show-page
  
  max-width: 800px
  margin: 0 auto

  .project-meter
    width: 270px
    margin: 1em auto

  .bg-img
    height: 200px
    // todo delete this file once a proper one is in place
    background: url('images/skatistanbig.jpg') no-repeat
    margin: 0 auto
  .project-image 
    margin: 0 1em 1em 0
    height: 90px
    float: left

  .intro
    clear: both
    text-align: center
    margin-top: 1em
  .description 
    text-align: justify


@media (min-width: 600px)
  .project-show-page
    h1
      margin-bottom: 2em
    .intro
      padding-top: 3em
    .project-image
      margin-right: 2em
      height: 140px