body.start_controller
  //background: #b51d22
  
  .content
    //padding-top: 20px
    padding-top: 0px
.start_page
  padding-top: 20px
  max-width: 600px
  margin: 0 auto
  background: url('/images/fire-background.jpg') no-repeat 50%
  height: 1000px

  text-align: center
  img
    width: 170px
    height: 170px

  h1
    background-color: #f7f0e6
    border-radius: 10px
    font-weight: bold
    padding: 10px 0
    margin: 0 auto 1em
    max-width: 500px

@media (min-width: 600px)
  .start_page
    border-radius: 50px
    border: 2px solid #b51d22
    margin-top: 2em
    height: 500px
    padding-top: 4em

    img
      width: 200px
      height: 200px

    h1
      margin-bottom: 3em