%nav.abnav{role: "navigation"}
  .container
    .row
      .col-md-4.col-xs-4
        = yield :header_back_button
      .col-md-4.col-xs-4.home-link
        
      .col-md-4.col-xs-4.about-link
        %a{href: sins_url}
          %img{src: "/images/A-logo_devilhorns_white.png", height: "20px"}