- ablass_url = "http://#{Rails.configuration.platform_host}"
- image = ablass_url + "/images/A-logo_devilhorns_cream.png"

<!-- for Facebook -->          
%meta{ property: "og:type", content:        "website" }
%meta{ property: "og:image", content:       image }
%meta{ property: "og:url", content:         ablass_url }
%meta{ property: "og:title", content:       I18n.t("social_links.title") }
%meta{ property: "og:description", content:  I18n.t("social_links.description") }

<!-- for Twitter -->          
%meta{ name: "twitter:card", content: "summary" }
%meta{ name: "twitter:title", content: I18n.t("social_links.title") }
%meta{ name: "twitter:description", content: I18n.t("social_links.description") }
%meta{ name: "twitter:image", content: image }
