!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Ablass"
    %meta{:content => content_for?(:description) ? yield(:description) : "Ablass", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body
    
    %script{ :"data-main" => "javascripts/config", src:"javascripts/libs/requirejs.js" }
